body {
	background: linear-gradient(135deg, #b04, #f80) fixed;
}

.container {
	position: relative;
	top: 50px;
	width: 75%;
}

[class*="col-"] {
	background: rgba(198,198,198,.5);
	border: 1px solid #fff;
	height: 50px;
	align-items: center;
	justify-content: center;
	display: flex;
}

h {
	color: #fff;
	margin-bottom: 20px;
	margin-top: 20px;
}