* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background: #fff;
}

.container {
	width: 30%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

#app, .shopping-list, .item-row {
	display: flex;
	flex-wrap: wrap;
}

.shopping-list {
	width: 100%;
	background-color: #84dcc6;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 10px 10px #767676;
}

header {
	text-align: center;
	color: #ff686b;
	width: 100%;
}

h2 {
	color: #ff686b;
}

.item-header {
	width: 40%;
	float: left;
}

.item-row {
	width: 100%;
}

.price-header {
	width: 40%;
	float: left;
	text-align: right;
}

.delete-column {
	width: 20%;
	float: right;
	text-align: right;
}

button {
	background-color: #ff686b;
	color: #fff;
	border: 0;
	font-size: 18px;
	line-height: 18px;
	padding: 14px;
	border-radius: 20px;
	border: 2px solid #ff686b;
}

button:active {
	background-color: #fff;
	color: #ff686b;
}

input {
	height: 46px;
	text-align: center;
	font-size: 18px;
	width: 39%;
	border-radius: 20px;
	border: 2px solid #ff686b;
	color: #ff686b;
}

.item {
	width: 40%;
}

.price {
	width: 40%;
	text-align: right;
}

.delete { 
	width: 20%;
	text-align: center; 
}

.delete-button {
	font-size: 16px;
	line-height: 16px;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	background: #ff686b;
	margin-left: 10px;
}

.delete-button:active {
	background : #fff;
	color: #a63a50;
}

.item-row {
	font-size: 18px;
	line-height: 40px;
}

.item-total {
	width: 100%;
	text-align: center;
	font-size: 25px;
	color: #000;
}

.item-total h3 {
	color: #ff686b;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-apperance: none;
	margin: 0;
}

@media only screen and (max-width: 1450px) {	
	.container {
		width: 40%;
	}
}

@media only screen and (max-width: 1100px) {	
	.container {
		width: 55%;
	}
}

@media only screen and (max-width: 812px) {	
	.container {
		width: 95%;
	}

	input {
		width: 100%;
		height: 40px;
		margin-bottom: 10px;
	}

	button {
		height: 40px;
		padding: 0;
		width: 100%;
	}
}