

body {	
	font-family: 'Source Code Pro', monospace;
}
.container {
	width: 50%;
	margin-top: 100px;
	margin: 0 auto;
	display: flex;
}

.right-col {
	width: 70%;
	padding: 25px;
}

.left-col {
	width: 30%;
	margin-top: 70px;
}

.photo img {
	width: 100%;
}

h1 {
	font-weight: 100;
}

header {
	margin-bottom: 25px;
	padding: 15px;
}

.about {
	margin-bottom: 25px;
	padding: 15px;
}

.projects {
	background: #dddddd;
	padding: 15px;
}

.projects, img {
	box-shadow: 10px 10px #474747;
}

.mobile-view {
	display: none;
}

@media only screen and (max-width: 1450px) {
	.left-col {
		display: none;
	}
}
