

body {	
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background: #000;
}

a {
	color: #f90036;
	text-decoration: none;
	font-weight: 600;
	transition: color 250ms ease-in;
}

a:hover {
	color: #000;
}

h5, h2 {
	color: #f90036;
}

.container {
	padding: 0em 1em;
	background: #fff;
	width: 50%;
	margin-top: 0px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.navbar {
	width: 100%;
	text-align: right;
	border-bottom: 1px solid black;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	display: inline-block;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.right-col {
	width: 50%;
	padding: 1.75em 0em 0em 1.25em;
	text-align: left;
	margin: 0 auto;
}

.left-col {
	width: 35%;
	padding-top: 40px;
	text-align: center;
	margin: 0 auto;
}
.photo {
	overflow: hidden;
	border-radius: 50%;
}
.photo img {
	width: 100%;
}

h1 {
	font-weight: 100;
}

header {
	padding: 15px;
	animation: tracking-in-expand 1s ease;
}

.about {
	margin-bottom: 25px;
	padding: 15px;
}

.skills {
	border-top: 1px solid black;
	margin-top: 25px;
	width: 100%;
	padding: 15px;
	text-align: center;
}

.projects {
	border-top: 1px solid black;
	margin-top: 25px;
	width: 100%;
	padding: 0em 1.25em;
	text-align: left;
}

.projects p {
	margin-bottom: 20px;
}

.projects h1 {
	text-align: center;
}

.mobile-view {
	display: none;
}

.skills-mobile {
	display: none;
}

@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

@media only screen and (max-width: 1450px) {
	.left-col {
		width: 40%;
	}

	.right-col {
		width: 50%;
	}

	.mobile-view {
		display: inline-block;
		float: left;
		width: 30%;
		margin-right: 25px;
	}

	.skills-mobile {
		display: block;
		width: 100%;
	}

	.about {
		margin-bottom: 0;
	}	
}

@media only screen and (max-width: 1080px) {
	.container {
		width: 60%;
	}
}

@media only screen and (max-width: 900px) {
	.container {
		width: 70%;
	}
}

@media only screen and (max-width: 812px) {
	.container {
		width: 90%;
	}

	header h1 {
		font-size: 1.25em;
		margin-bottom: 25px;
	}

	header h2 {
		font-size: 0.95em;
	}

	header {
		margin-bottom: 50px;
		padding: 0;
	}

	.about {
		padding: 0;
	}

}

@media only screen and (max-width: 600px) {

}
