body {
	background: linear-gradient(135deg, #011322, #26444c) fixed;	
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 100;
	line-height: 1.5em;
}

a {
	color: #fff;
}

a:visited {
	color: #fff;
}


a:hover {
	color: #ff6a00;
}

i:hover {
	color: #ff6a00;
}

.container {
	margin-top: 10%;
	width: 60%;
}

.about {
	background: #c4c4c4;
	color: #000;
	padding: 25px;
	line-height: 1.5em;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 25px;
	box-shadow: 10px 10px 0px rgba(22,22,22,.9);
}

.about h1 {
	font-size: 3em;
	margin-bottom: 20px;
}

.about p {
	display: inline-block;
	width: auto;
}

.my-picture {
	border-radius: 50%;
	border: 5px solid #ff6600;
	width: 35%;
	box-shadow: 0px 10px 0px rgba(22,22,22,.9);
	margin-bottom: 20px;
}

.bio {
	text-align: center;
	color: #fff;
	padding-top: 25px;
}

.bio p {
	margin-bottom: 20px;
}

.bio i {
	font-size: 20pt;
	margin-right: 20px;
	margin-left: 20px;
	color: #fff;
}


.my-background {
	background: #ff6600;
	color: #fff;
	width: 100%;
	padding: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 0px rgba(22,22,22,.9);
	border-radius: 25px;
	display: flex;
	flex-wrap: wrap;
}

.my-background h2 {
	margin-bottom: 10px;
	margin-left: 20px;
}

.my-background li {
	display: list-item;
	margin-left: 20px;
	margin-bottom: 1.5em;
}

.my-background ul {
	list-style-type: square;
	margin-top: 15px;
}

.shadow {  
	box-shadow: 0px 10px 0px rgba(22,22,22,.5);
	margin-bottom: 10px;
}

.navbar {
	height: 25px;
	/*background: #ff6600; */
	text-align: right;
	color: #fff;
	/*border-bottom: 1px solid #ff6600;*/
}

.navbar-break {
	height: 3px;
	width: 100%;
	display: block;
	background: -webkit-linear-gradient(left, rgba(255, 102, 0, 0) 0%, rgba(255,102, 0, 1) 50%, rgba(255,102,0,0) 100%);
}

.skills {
	background: rgba(198,198,198,.5);
	padding: 25px;
	line-height: 2em;
}

.skills li {
	display: block;
}

.projects {
	background: #00bc45;
	border-radius: 25px;
	padding: 25px;
	line-height: 2em;
	color: #fff;
	box-shadow: 10px 10px 0px rgba(22,22,22,.9);	
}

li {
	display: inline-block;
	width: 100px;
}

.typewriter {
	overflow: hidden;
	border-right: .15em solid orange;
	white-space: nowrap;
	letter-spacing: .1em;
	animation:
		typing 3.5s steps(100, end),
		blink-caret .75s step-end infinite;	
}

@keyframes typing {
	from{ width: 0; }
	to { width: 100%; }
}

@keyframes blink-caret {
	from, to { border-color: transparent; }
	50% { border-color: orange; }
}
