body {
	background: linear-gradient(135deg, #0f2027, #203a43, #2c5364) fixed;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 100;
	line-height: 1.5em;
}

a:visited {
	color: #fff;
}


a:hover {
	color: #ff6a00;
}

i:hover {
	color: #ff6a00;
}

.container {
	margin-top: 15%;
	width: 60%;
}

.about {
	background: rgba(198,198,198,.5);
	padding: 5%;
	line-height: 1.5em;
	height: 200px;
}

.about h1 {
	font-size: 3em;
	margin-bottom: 20px;
}

.about p {
	display: inline-block;
	width: auto;
}

.my-picture {
	border-radius: 50%;
	border: 5px solid #ff6600;
	width: 35%;
	box-shadow: 0px 10px 0px rgba(22,22,22,.5);
	margin-bottom: 20px;
}

.bio {
	text-align: center;
	color: #fff;
}

.bio p {
	margin-bottom: 20px;
}

.bio i {
	font-size: 20pt;
	margin-right: 20px;
	margin-left: 20px;
	color: #fff;
}


.skills {
	background: rgba(48,48,48, 1);
	width: 100%;
	height: 200px;
	padding: 5%;
	color: #fff;
	line-height: 1.5em;
}

.shadow {  
	box-shadow: 0px 10px 0px rgba(22,22,22,.5);
}

.typewriter {
	overflow: hidden;
	border-right: .15em solid orange;
	white-space: nowrap;
	letter-spacing: .1em;
	animation:
		typing 3.5s steps(100, end),
		blink-caret .75s step-end infinite;	
}

@keyframes typing {
	from{ width: 0; }
	to { width: 100%; }
}

@keyframes blink-caret {
	from, to { border-color: transparent; }
	50% { border-color: orange; }
}
