* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, .row, .container {
	display: flex;
}

ul ol {
	list-style: none;
}

.container {
	margin: 0 auto;
	flex-wrap: wrap;
}

.row {
	width: 100%;
	flex-wrap: wrap;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

/* text stuff */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

/* vertical alignment for items within container */

.align-children-top {
	align-items: flex-start;
}

.align-children-center {
	align-items: center;
}

.align-children-bottom {
	align-items: flex-end;
}

/* vertical alignment for children ( self ) */

.align-self-top {
	align-self: flex-start;
}

.align-self-center {
	align-self: center;
}

.align-self-bottom {
	align-self: flex-end;
}

/* columns */

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.666%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.333%;
}

.col-5 {
	width: 41.66%;
}

.col-6 { 
	width: 50%; 
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.67%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.3333333%
}

.col-11 {
	width: 91.6%;
}

.col-12 {
	width: 100%;
}

@media only screen and (max-width: 1200px) {
	.xl {
		width: 100%;
	}
}

@media only screen and (max-width: 992px) {
	.lg {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.md {
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.sm {
		width: 100%;
	}
}