body {
	background: linear-gradient(135deg, #3a6186, #89253e) fixed;
	color: #fff;
}

.container {
	width: 60%;
	padding-top: 2.5%;
}

* {
	font-family: 'Montserrat', sans-serif;
}

form {
	display: flex;
	flex-wrap: wrap;
	background: rgba(33,33,33,0.5);
	border-radius: 10px;
	border: 1px solid #fff;
}

.book-entry, .book-entry-head {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.book-entry {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
}

.book-entry-head {
	padding: 10px;
}

#book-list {
	width: 100%;
	padding: 10px;
	background: rgba(33,33,33,0.5);
	border: 1px solid #fff;
	border-radius: 10px;
}

input {
	width: 100%;
}

input[type="radio"] {
	width: auto;
}

form div {
	padding: 10px;
}

header {
	padding: 10px;
}

input[type="button"] {
	border-radius: 5px;
}
