body {
	font-family : "arial";
	background : #333333;
}

.screen {
    background: #334c3d;
    box-shadow: inset 5px 5px #1d2723;
    height: 100px;
    border: 5px solid black;
    border-radius: 7px;
}

.screen p {
	font-size : 30pt;
	color : #0a1301;
	float : right;
	margin-bottom : 0px;
	margin-top : 60px;
}

.container {
	background : #59797c;
	border : 5px solid black;
	margin : auto;
	margin-top : 250px;
	width : 300px;
	height : 400px;
	padding : 5px;
	border-radius : 10px;
	box-shadow: 10px 10px #191919;
}

.buttonRow {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.digitButton, .decimalButton {
    background: #9b9b9b;
    width: 100%;
    height: 52px;
    margin: 3px;
    border-radius: 5px;
    box-shadow : 2px 2px;
}

button:hover {
	background: #dbdbdb;
}

button:active {
	background: #383838;
	color: #fff;
}

#zeroButton {
    background: #9b9b9b;
    width: 235%;
    height: 52px;
    margin: 3px;
    border-radius: 5px;
    box-shadow : 2px 2px;
}

button {
	font-size : 18pt;
}

.operatorButton {
    background: #343744;
    width: 100%;
    height: 52px;
    margin: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px;
}

.functionButton {
    background: #5f78ab;
    width: 100%;
    height: 52px;
    margin: 3px;
    border-radius: 5px;
    box-shadow : 2px 2px;
}

.creditText {
	color : #fff;
	font-size : 12pt;
	margin : auto;
	width : 50%;
	width : 100%;
	text-align : center;
}

a {
	color : #d3a376;
}