* {
	box-sizing: border-box;
	font-family: Helvetica Neue, Arial, sans-serif;
}

html, body {
	margin: 0;
}

body {
	background: linear-gradient(to bottom, #a0a0a0, #fff 10% );
}

.header {
	width: 100%;
	position: fixed;
}

.tnw-logo {
	height: 70px;
	width: 100px;
	background: #d60c4c;
	float: left;
	display: none;
}

.top-nav {
	background: rgb(19, 19, 19);
	font-size: 10pt;
	color: #fff;
	height: 32px;
	width: 100%;
}

.bottom-nav {
	text-transform: uppercase;
	background: #fff;
	font-size: 10pt;
	height: 38px;
	color: #5b5b5b;
	width: 100%;
}

.bottom-nav ul {
	position: relative;
	left: 0.5em;
	top: 0.75em;
}

.mobile-nav {
	display: none;
	height: 48px;
	width: 100%;
	background: #fff;
}

.mobile-button {
	text-align: center;
	display: hidden;
	float: right;
	width: 48px;
	height: 48px;
	padding: 12px;
	background: #fff;
	border-left: 1px solid #a0a0a0;
}

ul {
	margin: 0;
	padding-left: 0;
}

header li {
	display: inline-block;
	margin-right: 10px;
}

header div {
	display: inline-block;
}


.content-navigation {
	position: relative;
	left: 0.5em;
	top: 0.5em;
}

.information-navigation{
	float: right;
	position: relative;
	right: 0.5em;
	top: 0.5em;
}

.bottom-nav li {
	display: inline-block;
	margin-right: 18px;
}

.featured-stories {
	padding: 5px;
	margin: 0 auto;
}

.featured-stories::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.featured-story-1 {
	background: #3dba56;
	width: 64.75%;
	margin-right: 0.25%;
	height: 544px;
	float: left;
}

.featured-story-2 {
	background: #b754b4;
	width: 35%;
	height: 272px;
	float: left;
}

.featured-story-3 {
	background: #4364a5;
	width: 35%;
	height: 272px;
	float: left;
}

h1 { 
	color: #f42;
	font-size: 22pt;
	margin-left: 10px;
}

.news {
	display: inline-block;
	vertical-align: top;
	width: 285px;
	height: 271px;
	padding: 10px;

}

.news h2 {
	font-size: 14px;
	font-style: bolder;
}

.news p {
	color: #aaa;
	font-size: 14px;
}

.news img {
	width: 100%;
}

.news-container {
	width: 1143px;
	margin: 0 auto;
	padding-top: 25px;
}

.footer-1 {
	background: #131313;
	text-align: center;
	height: 161px;
	color: rgb(170, 170, 170);
	text-transform: uppercase;
	padding-top: 80px;
}

.footer-1 li {
	display: inline-block;
}

.footer-2 {
	background: #000;
	color: #fff;
	height: 97px;
	text-align: center;
	font-size: 11pt;
}

.footer-2 p {
	margin: 0;
	padding-top: 25px;
}

@media only screen and (max-width: 1143px) {
	.news-container {
		width: 95%;
	}

	.news {
		width: 25%;
	}
}

@media only screen and (max-width: 1000px) {
	.tnw-logo {
		display: inline-block;
	}

	.news {
		width: 33%;
	}
}

@media only screen and (max-width: 768px) {
	.top-nav {
		display: none;
	}

	.bottom-nav {
		display: none;
	}

	.mobile-nav {
		display: block;
	}

	.tnw-logo {
		height: 48px;
	}

	.mobile-button {
		display: inline-block;
	}

	.featured-story-1, .featured-story-2, .featured-story-3 {
		width: 100%;
		height: 265px;
		margin-bottom: 5px;
		float: none;

	}

	.news {
		width: 100%;
		height: 88px;
	}

	.news img {
		float: left;
		width: 75px;
		height: 100%;
		object-fit: cover;
		margin-right: 1em;
	}

}